body {
    background-color: #0F1115;
    color: #E2E8F0;
    font-family: 'Inter', sans-serif;
}

.card-custom {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    border: 1px solid #1f2937;
    border-left-width: 5px;
    border-left-color: transparent;
}

.card-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.status-accent-interview {
    border-left-color: #10B981 !important;
}

.status-accent-rejected {
    border-left-color: #EF4444 !important;
}