body {
    background-color: #0F1115;
    color: #E2E8F0;
    font-family: 'Inter', sans-serif;
}

.card-custom {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    border: 1px solid #1f2937;
}

.card-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.status-accent-interview::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #10B981 ;
}

.status-accent-rejected::before  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #EF4444;
}